const config = {
    debug: true,
    database: {
        name: "bwdicf_backend",
        user: "bwdicf_backend_user",
        password: "dummypassword",
        port: 5432,
        host: "127.0.0.1"
    },
};

module.exports = config;